.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title, .header__title-emoji {
  font-size: 2rem;
  animation: title-jump 2s infinite;
  animation-timing-function: ease-in-out;
  margin: 1rem;
}

.header__title-emoji:first-child {
  animation-delay: 0;
}

.header__title-emoji:last-child {
  animation-delay: 1s;
}

.header__title {
  animation-delay: 0.5s;
}

.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-article {
  display: flex;
  background-color: var(--theme-color);
  margin: 1rem auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.5rem 0 var(--shadow-color);
  width: 100%;
  max-width: 426px;
  transition: all 0.5s;
}

.card-article:hover {
  transform: scale(1.2);
  box-shadow: 0 0.5rem 0.5rem 0 var(--theme-color-inverse);
}

.card-article__titles {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, var(--primary-color-card), var(--secondary-color-card));
  padding: 1rem;
}

.card-article__titles--green {
  background: linear-gradient(to bottom, var(--tertiary-color-card), var(--quaternary-color-card));
}

.card-article__category {
  opacity: 0.8;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.card-article__type {
  letter-spacing: 0.1rem;
}

.card-article__emoji {
  font-size: 5rem;
}

.card-article__content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.card-article__difficulty, .card-article__level {
  margin: 0;
  padding: 0;
}

.card-article__name {
  margin: 1rem auto;
}

.card-article__description {
  font-size: 0.9rem;
}

.card-article__button {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--primary-color));
  border: 0.1rem solid var(--theme-color-inverse);
  color: var(--text-color);
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  cursor: pointer;
  background-size: 200% auto;
  transition: all 0.5s;
}

.card-article__button:hover {
  box-shadow: 0 0.125rem 0.125rem 0 var(--theme-color-inverse);
  background-position: right;
  filter: brightness(115%);
  transform: scale(1.02);
}

.main__instructions {
  text-align: center;
}

.main__instruction {
  animation: zoom 2s infinite;
}

.footer {
  font-size: 0.9rem;
  padding: 1em;
}

.footer__title {
  margin: 0 auto;
}

.spinner {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media (min-width: 854px) {
  .container {
    flex-direction: row;
  }
  .card-article {
    max-width: 45%;
  }
}