:root {
  --theme-color: #1e1e1e;
  --theme-color-inverse: #fff;
  --primary-color: #5558da;
  --secondary-color: #1e90ff;
  --tertiary-color: #4169e1;
  --quaternary-color: #6a5acd;
  --text-color: #fff;
  --text-color-inverse: #1e1e1e;
  --shadow-color: #a0a0a0;
  --primary-color-card: #00bfff;
  --secondary-color-card: #191970;
  --tertiary-color-card: #20b2aa;
  --quaternary-color-card: #008080;
  --nav-background-color: #3a4460;
  scroll-behavior: smooth;
}

@keyframes background-body {
  0% {
    background-color: var(--primary-color);
  }
  25% {
    background-color: var(--secondary-color);
  }
  50% {
    background-color: var(--tertiary-color);
  }
  75% {
    background-color: var(--quaternary-color);
  }
  100% {
    background-color: var(--primary-color);
  }
}

@keyframes title-jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  animation: background-body;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.spinner {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}